<?xml version="1.0" encoding="UTF-8"?><widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.version.norwood" version="1.0">
     <name>Norwood</name>     <description/>
     <author href="" email="yonghong@versionsystem.com">Yonghong</author>
     	<icon src="resources/images/logos/IOS/wavemaker_57x57.png" width="57" height="57"/>
	<icon gap:platform="ios" src="resources/images/logos/IOS/wavemaker_72x72.png" width="72" height="72"/>
	<icon src="resources/images/logos/IOS/wavemaker_114x114.png" width="114" height="114"/>
	<icon src="resources/images/logos/IOS/wavemaker_144x144.png" width="144" height="144"/>
	<gap:splash src="resources/images/logos/IOS/wavemaker_320x480.png" width="320" height="480"/>
	<gap:splash src="resources/images/logos/IOS/wavemaker_320x480.png" gap:platform="blackberry"/>
	<gap:splash src="resources/images/logos/IOS/wavemaker_320x480.png" gap:platform="winphone"/>
	<gap:splash src="resources/images/logos/IOS/wavemaker_640x960.png" width="640" height="960"/>
	<gap:splash src="resources/images/logos/IOS/wavemaker_768x1004.png" width="768" height="1004"/>
	<gap:splash src="resources/images/logos/IOS/wavemaker_1024x748.png" width="1024" height="748"/>
	<gap:splash src="resources/images/logos/IOS/wavemaker_1536x2008.png" width="1536" height="2008"/>
	<gap:splash src="resources/images/logos/IOS/wavemaker_2048x1496.png" width="2048" height="1496"/>
	<icon src="resources/images/norwood.png" gap:platform="android" gap:density="ldpi"/>
	<icon src="resources/images/norwood.png" gap:platform="android" gap:density="mdpi"/>
	<icon src="resources/images/norwood.png" gap:platform="android" gap:density="hdpi"/>
	<icon src="resources/images/norwood.png" gap:platform="android" gap:density="xhdpi"/>
	<gap:splash src="resources/images/norwood.png" gap:platform="android" gap:density="ldpi"/>
	<gap:splash src="resources/images/norwood.png" gap:platform="android" gap:density="mdpi"/>
	<gap:splash src="resources/images/norwood.png" gap:platform="android" gap:density="hdpi"/>
	<gap:splash src="resources/images/norwood.png" gap:platform="android" gap:density="xhdpi"/>
	<icon gap:platform="winphone" src="resources/images/logos/Other/wavemaker_62x62.png"/>
	<icon gap:platform="winphone" src="resources/images/logos/Other/wavemaker_62x62.png" gap:role="background"/>
	<icon src="resources/images/logos/Other/wavemaker_64x64.png" width="64" height="64"/>

     <preference name="orientation" value="default"/>
     <preference name="fullscreen" value="false"/>
     <preference name="prerendered-icon" value="false"/>
     <preference name="ios-statusbarstyle" value="default"/>
     <feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/notification"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/contacts"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/battery"/>
 </widget>